@model List<BookMarkApp.DataModels.Category>

<div class="jumbotron TitleContainer">
	<h1>BookMark App</h1>
	<button class="btn btn-sm btn-primary pull-right" onclick="location.href='/Add/AddCategory/'">Add New Category</button><br />
</div>
<br /><br />
<div id="wrapper">
	@foreach (var category in Model)
	{
		<div class="row table-bordered" onclick="location.href='/Category/CategoryDetail/@category.Id'">
			<div class="col-md-6 text-center">
				<div class="row">
					<div>
						<h2>@category.Title</h2>
					</div>
				</div>
			</div>
		</div>
	}
</div>